/*
    -----------------------------------------------------
    ----------  /01-curso-html5-desde-cero/  ------------
    ----------  /src/styles/02-estructura.css  ---------- 
    -----------------------------------------------------  
*/


.main__estructura {
    width: 100%;
    max-width: 102.4rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 2rem;
    border-radius: 0.5rem;
    background-color: #EEB523;
}

.estructura__title {
    width: 100%;
    font-size: 3rem;
    color: #f1e8e8;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.separator {
    max-width: 102.4rem;
    width: 100%;
    height: 2px;
}

.estructura__pre {
    padding: 1rem;
    padding-right: 2rem;
    font-size: 1rem;
    background-color: aliceblue;
}