/*
    ------------------------------------------------------
    ----------  /01-curso-html5-desde-cero/  -------------
    ----------  /src/styles/09-formularios.css  ---------- 
    ------------------------------------------------------  
*/


.main__formularios {
    width: 100%;
    max-width: 102.4rem;
    padding: 3rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    border-radius: 0.5rem;
    background-color: #EEB523;
}

.formularios__title {
    width: 100%;
    font-size: 3rem;
    color: #f1e8e8;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.separator {
    max-width: 102.4rem;
    width: 100%;
    height: 2px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

input,
select,
textarea {
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 5px;
}

.radio,
.checkbox {
    display: flex;
}
