/*
    --------------------------------------------------------
    ----------  /01-curso-html5-desde-cero/  ---------------
    ----------  /src/styles/10-mas-etiquetas.css  ---------- 
    --------------------------------------------------------  
*/


.main__mas-etiquetas {
    width: 100%;
    max-width: 102.4rem;
    margin-top: 15rem;
    padding: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 0.5rem;
    background-color: #EEB523;
}

.mas-etiquetas__title {
    width: 100%;
    font-size: 3rem;
    color: #f1e8e8;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.separator {
    max-width: 102.4rem;
    width: 100%;
    height: 2px;
}
