/*
    ---------------------------------------------------------
    ----------  /01-curso-html5-desde-cero/  ----------------
    ----------  /src/styles/11-proyecto-html5.css  ---------- 
    ---------------------------------------------------------  
*/

.main__proyecto-html5 {
    width: 100%;
    max-width: 102.4rem;
    padding: 3rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    border-radius: 0.5rem;
    background-color: #EEB523;
}

.proyecto-html5__top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: rgb(89, 164, 230);
    border-radius: 5px;
    transition: all 300ms linear;
}

.proyecto-html5__top:hover {
    background-color: rgba(59, 117, 168, 0.8);
}

.layout__navbar--proyecto-html5 {
    margin-top: 0;
}


/*  -----  Articulos  -----  */

.proyecto-html5__articles {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}


.articles__article {
    width: 30rem;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}


/*  -----  Multimedia  -----  */

.proyecto-html5__multimedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}


/*  -----  Dieta  -----  */

.proyecto-html5__dieta {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}


/*  -----  Contacto  -----  */

.proyecto-html5__contacto {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.contacto__formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}



/*
#container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.cabecera{
    background: red;
    width: 100%;
    height: 100px;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 3px dashed black;
}

.menu{
    background: lightblue;
    height: 50px;
    padding-left: 100px;
    border-bottom: 1px solid black;
}

.item{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

#content{
    float: left;
    width: 70%;
    height: 500px;
    background: green;
    padding: 40px;
}

.aside{
    float:left;
    width: 30%;
    min-height: 500px;
    background: orange;
    padding: 20px;
}

.clearfix{
    clear: both;
}

.article{
    color:white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.article:first-child{
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.article h2{
    font-size: 25px;
}

.footer{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: black;
    color: white;
    text-align: center;
}
*/